<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />

  <!==========FLATION========!>
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-straight/css/uicons-regular-straight.css'>

  <!==========SWIPER CSS========!>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

  <!==========CSS========!>
  <link rel="stylesheet"href="/home.css">

  <title>E-STORE</title>
</head>
<body>

<!--<!==========HEADER========!>-->

<header class="header">
  <div class="header__top">
    <div class="header__container container">
      <div class="header__contact">
        <span>(+91)9016123474</span>
      </div>

      <p class="header__alert-news">
        Super Value Deals - Save more with coupons
      </p>

      <a href="/login" class="header__top-action">
        Login In / Sing Up
      </a>
    </div>
  </div>
  <nav class="nav container">
    <a href="/home" class="nav__logo">
      <img src="/img/estore1-logo.png" class="nav__logo-img">
    </a>

    <div class="nav__menu" id="nav-menu">
      <div class="nav__menu-top">
        <a href="/home" class="nav__menu-logo">
          <img src="/img/estore1-logo.png" alt="">
        </a>

        <div class="nav__close" id="nav-close">
          <i class="fi fi-rs-cross-small"></i>
        </div>
      </div>

      <ul class="nav__list">
        <li class="nav__item">
          <a th:href="@{/home}" class="nav__link">Home</a>
        </li>

        <li class="nav__item">
          <a th:href="@{/menushow}" class="nav__link">Shop</a>
        </li>

        <li class="nav__item">
          <a th:href="@{/user/account}" class="nav__link">My Account</a>
        </li>

        <li class="nav__item">
          <a th:href="@{/user/buymovie}" class="nav__link">BuyMovies</a>
        </li>

        <li class="nav__item">
          <a href="/login" th:if="${usern==0}" class="nav__link">Login</a>
          <a href="/logout" th:if="${usern==1}" class="nav__link">Logout</a>
        </li>
      </ul>
    </div>
    <div class="header__user-actions">
      <a th:href="@{/user/whishlist}" class="header__action-btn">
        <img src="/img/icon-heart.svg" alt="">
        <span class="count" th:text="${w}"></span>
      </a>

      <a th:href="@{/user/cartorder}" class="header__action-btn">
        <img src="/img/icon-cart.svg" alt="">
        <span class="count" th:text="${c}"></span>
      </a>

      <div class="header__action-btn nav__toggle" id="nav-toggle">
        <img src="/img/menu-burger.svg">
      </div>
    </div>
  </nav>
</header>

<!--<!==========MAIN========!>-->

<main class="main">

  <!--<!==========BREADCRUMB========!>-->

  <section class="breadcrumb">
    <ul class="breadcrumb__list flex container">
      <li><a href="/home" class="breadcrumb__link">Home</a></li>
      <li><span class="breadcrumb__link">></span></li>
      <li><span class="breadcrumb__link">Shop</span></li>
      <li><span class="breadcrumb__link">></span></li>
      <li><span class="breadcrumb__link">Product</span></li>
    </ul>
  </section>

  <!--<!==========PRODUCTS========!>-->

  <section class="products section--lg container">
    <p class="total__products">We found <span th:text="${product.size()}">12</span> item for you!</p>

    <div class="products__container grid">

      <div class="product__item" th:each="itemp : ${product}">
        <div class="product__banner">
          <a th:href="@{/detail/{id}(id=${itemp.product_id})}" class="product__images">
            <img th:src="@{/imgp/{id}/{name}(id=${itemp.product_id}, name='i1')}" alt="menu img" class="product__img default" />
<!--            <img src="../static/img/product-4-1.jpg" alt="" class="product__img default">-->

            <img th:src="@{/imgp/{id}/{name}(id=${itemp.product_id}, name='im1')}" alt="menu img" class="product__img hover" />
<!--            <img src="../static/img/product-4-2.jpg" alt="" class="product__img hover">-->
          </a>

          <div class="product__actions">
            <a th:href="@{/detail/{id}(id=${itemp.product_id})}" class="action__btn" aria-label="Quick View">
              <i class="fi fi-rs-eye"></i>
            </a>

            <a th:href="@{/user/savelike/{id}(id=${itemp.product_id})}" class="action__btn" aria-label="Add To Wishlist">
              <i class="fi fi-rs-heart"></i>
            </a>
          </div>

          <div class="product__badge light-orange" th:text="${itemp.localoff}+'%'"></div>
        </div>

        <div class="product__content">
          <span class="product__category" th:text="${itemp.name}"></span>
          <a th:href="@{/detail/{id}(id=${itemp.product_id})}">
            <h3 class="product__title" th:text="${itemp.product_name}">Xiaomi 125 cm X Pro 4K </h3>
          </a>

          <div class="product__rating">
            <i class="fi fi-rs-star" th:if="${itemp.total_star == 0}"> <span class="product__category" th:text="${0} + 'out of 5 star'">4.1 out of 5 star</span></i>
            <i class="fi fi-rs-star" th:if="${itemp.total_star != 0}"> <span class="product__category" th:text="${itemp.total_star_count/itemp.total_star} + 'out of 5 star'">4.1 out of 5 star</span></i>
          </div>

          <div class="product__price flex">
            <span class="new__price" th:text="'₹'+${itemp.price}">₹238</span><br>
            <h6>M.R.P<span class="old__price" th:text="'₹'+${itemp.price+((itemp.price * itemp.localoff)/100)}">₹245</span></h6>
          </div>
          <span class="product__category2"><span class="product__category3" th:text="'save '+${itemp.coupon}+'P'">save ₹1000</span> with coupon<br></span>
          <span class="product__category2">FREE delivery<span class="product__category1" th:text="'in '+${itemp.free_delivery}+' days'"> in 2 days</span></span><br>
          <span class="product__category2">Or fastest delivery<span class="product__category1" th:text="'in '+${itemp.faster_delivery}+' days'"> in 1 days</span></span>

          <a th:href="@{/detail/{id}(id=${itemp.product_id})}" class="action__btn cart__btn" aria-label="Add To Cart">
            <i class="fi fi-rs-shopping-bag-add"></i>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!--<!==========NEWSLETTER========!>-->

  <section class="newsletter section home__newsletter">
    <div class="newsletter__container container grid">

      <p class="newsletter__description">
        Join us on WhatsApp to get daily offers!&nbsp;&nbsp;&nbsp;
        <a href="https://chat.whatsapp.com/GV7tRTt7L86El4OEOc7cd2" class="btn">Join Now</a>
      </p>

    </div>
  </section>
</main>

<!--<!==========FOOTER========!>-->

<footer class="footer container">
  <div class="footer__container grid">
    <div class="footer__content">
      <a href="index.html" class="footer__logo">
        <img src="/img/estore1-logo.png" alt="" class="footer__logo-img">
      </a>

      <h4 class="footer__subtitle">Content</h4>

      <p class="footer__description">
        <span>Address:</span> 5622 wellington road,street 32,san Francisco
      </p>

      <p class="footer__description">
        <span>Phone:</span> (+91) 9016123474 /(+91) 9016123634
      </p>

      <p class="footer__description">
        <span>Hours:</span> 10:00 - 18:00, mon - sat
      </p>

      <div class="footer__social">
        <h4 class="footer__subtitle">Follow Me</h4>

        <div class="footer__social-links flex">
          <a href="">
            <img src="/img/icon-facebook.svg" alt="" class="footer__social-icon">
          </a>

          <a href="">
            <img src="/img/icon-twitter.svg" alt="" class="footer__social-icon">
          </a>

          <a href="">
            <img src="/img/icon-instagram.svg" alt="" class="footer__social-icon">
          </a>

          <a href="">
            <img src="/img/icon-pinterest.svg" alt="" class="footer__social-icon">
          </a>

          <a href="">
            <img src="/img/icon-youtube.svg" alt="" class="footer__social-icon">
          </a>
        </div>
      </div>
    </div>

    <div class="footer__content">
      <h3 class="footer__title">Address</h3>

      <ul class="footer__links">
        <li><a href="" class="footer__link">About Us</a> </li>
        <li><a href="" class="footer__link">Delivery Information</a> </li>
        <li><a href="" class="footer__link">Privacy Policy</a> </li>
        <li><a href="" class="footer__link">terms & Conditions</a> </li>
        <li><a href="" class="footer__link">Contact Us</a> </li>
        <li><a href="" class="footer__link">Support Center</a> </li>
      </ul>
    </div>

    <div class="footer__content">
      <h3 class="footer__title">My Account</h3>

      <ul class="footer__links">
        <li>
          <a href="/login" th:if="${usern==0}" class="footer__link">Login</a>
          <a href="/logout" th:if="${usern==1}" class="footer__link">Logout</a>
        </li>
        <li><a th:href="@{/user/cartorder}" class="footer__link">View Cart</a> </li>
        <li><a th:href="@{/user/whishlist}" class="footer__link">My Wishlist</a> </li>
        <li><a href="" class="footer__link">track My Order</a> </li>
        <li><a href="" class="footer__link">Help</a> </li>
        <li><a href="" class="footer__link">Order</a> </li>
      </ul>
    </div>

    <div class="footer__title">
      <h3 class="footer__title">Secured Payment Gateways</h3>

      <img src="/img/payment-method.png" alt="" class="payment__img">
    </div>
  </div>

  <div class="footer__bottom">
    <p class="copyright">&copy; 2024 E-Store.in. All rights reserved</p>
    <span class="designer">Devlope by DarshanDhaduk</span>
    <!--            <span class="designer">Designed by DarshanDhaduk And SnehDhanani</span>-->
  </div>
</footer>

<!--<!==========SWIPER JS========!>-->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!--<!==========MAIN JS========!>-->
<script src="/main.js"></script>
</body>
</html>