<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <!==========FLATION========!>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-straight/css/uicons-regular-straight.css'>

    <!==========SWIPER CSS========!>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <!==========CSS========!>
    <link rel="stylesheet" href="/home.css">

    <title>E-STORE</title>
</head>
<body>
<!--<!==========MAIN========!>-->

<main class="main">

    <!--<!==========LOGIN========!>-->
    <section class="login-register__container1">
        <div class="auth-container">
            <div class="auth-box login">
                <h3 class="section__title">SEND OTP</h3>

                <form method="post"  th:action="@{/do_sentotp/{otp}/{id}(otp=${otp}, id=${uid})}" class="form">

                    <div class="form__group">
                        <input type="text" name="snetotp" placeholder="Enter OTP" class="form__input1" required>
                        <div th:if="${error}" th:text="${error}" class="herror"></div>

                    </div>

                    <div class="form__btn1">
                        <button type="submit" class="btn btn--sm"><span class="btn1">Verfiy</span></button>
                    </div>

                </form>
            </div>
        </div>
        </div>
    </section>
</main>

<!--<!==========SWIPER JS========!>-->

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!--<!==========MAIN JS========!>-->
<script src="./main.js"></script>
</body>
</html>