<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />

  <!==========FLATION========!>
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-straight/css/uicons-regular-straight.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <!==========SWIPER CSS========!>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

  <!==========CSS========!>
  <link rel="stylesheet" href="/home.css">

  <title>E-STORE</title>
</head>
<body>
<!--<!==========HEADER========!>-->

<header class="header">
  <div class="header__top">
    <div class="header__container container">
      <div class="header__contact">
        <span>(+91)9016123474</span>
      </div>

      <p class="header__alert-news">
        Super Value Deals - Save more with coupons
      </p>

      <a href="/login" class="header__top-action">
        Login In / Sing Up
      </a>
    </div>
  </div>
  <nav class="nav container">
    <a th:href="@{/admin/menu}" class="nav__logo">
      <img src="/img/estore1-logo.png" class="nav__logo-img">
    </a>

    <div class="nav__menu" id="nav-menu">

      <div class="nav__menu-top">
        <a th:href="@{/admin/menu}" class="nav__menu-logo">
          <img src="/img/estore1-logo.png" alt="">
        </a>

        <div class="nav__close" id="nav-close">
          <i class="fi fi-rs-cross-small"></i>
        </div>
      </div>

      <ul class="nav__list">
        <li class="nav__item">
          <a href="/admin/createmovie" class="nav__link">Createmovie</a>
        </li>

        <li class="nav__item">
          <a href="/admin/finish" class="nav__link">Finish-P</a>
        </li>

        <li class="nav__item">
          <a href="/admin/billshow" class="nav__link">Billshow</a>
        </li>

        <li class="nav__item">
          <a href="/admin/headoff" class="nav__link">HeadOffer</a>
        </li>

        <li class="nav__item">
          <a href="/admin/replace" class="nav__link">Replace</a>
        </li>

        <li class="nav__item">
          <a href="/admin/createmenu" class="nav__link">ManuCreate</a>
        </li>

        <li class="nav__item">
          <a href="/logout" class="nav__link">Logout</a>
        </li>
      </ul>
    </div>
    <div class="header__user-actions">
      <a href="/admin/removeshow" class="header__action-btn">
        <img src="/img/remove1.png" alt="">
      </a>
      <a href="/admin/showall" class="header__action-btn">
        <img src="/img/show.png" alt="">
      </a>

      <a href="/admin/menu" class="header__action-btn">
        <img src="/img/register.png" alt="">
      </a>

      <div class="header__action-btn nav__toggle" id="nav-toggle">
        <img src="/img/menu-burger.svg">
      </div>

    </div>
  </nav>
</header>

<!--<!==========MAIN========!>-->

<main class="main">

  <!--<!==========BREADCRUMB========!>-->

  <section class="breadcrumb">
    <ul class="breadcrumb__list flex container">
      <li><a th:href="@{/admin/menu}" class="breadcrumb__link">Home</a></li>
      <li><span class="breadcrumb__link">></span></li>
      <li><span class="breadcrumb__link">UpdateMenu</span></li>
    </ul>
  </section>

  <!--<!==========upadtemenu========!>-->

  <section class="login-register section--lg">
    <div class="login-register__container container grid">
      <div class="login">
        <h3 class="section__title">Menu details</h3>

        <form action="#" th:action="@{/admin/do_menuupd/{id}(id=${menu.menu_id})}" method="post" class="form grid" enctype="multipart/form-data">

          <input type="text" placeholder="Name" class="form__input" th:value="${menu.name}" name="name">
          <div class="herror" th:if="${error!= null}" th:text="${error['name']}"></div>

          <input type="text" placeholder="fd1" class="form__input" th:value="${menu.fd_1}" name="fd_1">
          <div class="herror" th:if="${error!= null}" th:text="${error['fd_1']}"></div>

          <input type="text" placeholder="fd2" class="form__input" th:value="${menu.fd_2}" name="fd_2">
          <div class="herror" th:if="${error!= null}" th:text="${error['fd_2']}"></div>

          <input type="text" placeholder="fd3" class="form__input" th:value="${menu.fd_3}" name="fd_3">
          <div class="herror" th:if="${error!= null}" th:text="${error['fd_3']}"></div>

          <input type="text" placeholder="fd4" class="form__input" th:value="${menu.fd_4}" name="fd_4">
          <div class="herror" th:if="${error!= null}" th:text="${error['fd_4']}"></div>

          <input type="text" placeholder="d1" class="form__input" th:value="${menu.d_1}" name="d_1">
          <div class="herror" th:if="${error!= null}" th:text="${error['d_1']}"></div>

          <input type="text" placeholder="d2" class="form__input" th:value="${menu.d_2}" name="d_2">
          <div class="herror" th:if="${error!= null}" th:text="${error['d_2']}"></div>

          <input type="text" placeholder="d3" class="form__input" th:value="${menu.d_3}" name="d_3">
          <div class="herror" th:if="${error!= null}" th:text="${error['d_3']}"></div>

          <input type="text" placeholder="d4" class="form__input" th:value="${menu.d_4}" name="d_4">
          <div class="herror" th:if="${error!= null}" th:text="${error['d_4']}"></div>

          <input type="text" placeholder="d5" class="form__input" th:value="${menu.d_5}" name="d_5">
          <div class="herror" th:if="${error!= null}" th:text="${error['d_5']}"></div>

          <input type="text" placeholder="d6" class="form__input" th:value="${menu.d_6}" name="d_6">
          <div class="herror" th:if="${error!= null}" th:text="${error['d_6']}"></div>

          <input type="text" placeholder="d7" class="form__input" th:value="${menu.d_7}" name="d_7">
          <input type="text" placeholder="d8" class="form__input" th:value="${menu.d_8}" name="d_8">
          <input type="text" placeholder="d9" class="form__input" th:value="${menu.d_9}" name="d_9">
          <input type="text" placeholder="d10" class="form__input" th:value="${menu.d_10}" name="d_10">
          <input type="text" placeholder="d11 " class="form__input" th:value="${menu.d_11}" name="d_11">
          <input type="text" placeholder="d12" class="form__input" th:value="${menu.d_12}" name="d_12">
          <input type="text" placeholder="d13" class="form__input" th:value="${menu.d_13}" name="d_13">
          <input type="text" placeholder="d14" class="form__input" th:value="${menu.d_14}" name="d_14">
          <input type="text" placeholder="d15" class="form__input" th:value="${menu.d_15}" name="d_15">

          <img th:src="@{/imgpm/{id}(id=${menu.menu_id})}" alt="Product Image" style="margin-left: 15px; margin-top: 13px;" width="100px"/>
          <input name="i1" type="file" placeholder="image" th:value="${menu.img}" accept="image/*" class="form__input">

          <div class="form__btn">
            <button type="submit" class="btn">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </section>

  <!--<!==========NEWSLETTER========!>-->

  <section class="newsletter section home__newsletter">
    <div class="newsletter__container container grid">

      <p class="newsletter__description">
        Join us on WhatsApp to get daily offers!&nbsp;&nbsp;&nbsp;
        <a href="https://chat.whatsapp.com/GV7tRTt7L86El4OEOc7cd2" class="btn">Join Now</a>
      </p>

    </div>
  </section>
</main>

<!--<!==========FOOTER========!>-->

<footer class="footer container">
  <div class="footer__container grid">
    <div class="footer__content">
      <a href="index.html" class="footer__logo">
        <img src="/img/estore1-logo.png" alt="" class="footer__logo-img">
      </a>

      <h4 class="footer__subtitle">Content</h4>

      <p class="footer__description">
        <span>Address:</span> 5622 wellington road,street 32,san Francisco
      </p>

      <p class="footer__description">
        <span>Phone:</span> (+91) 9016123474 /(+91) 9016123634
      </p>

      <p class="footer__description">
        <span>Hours:</span> 10:00 - 18:00, mon - sat
      </p>

      <div class="footer__social">
        <h4 class="footer__subtitle">Follow Me</h4>

        <div class="footer__social-links flex">
          <a href="">
            <img src="/img/icon-facebook.svg" alt="" class="footer__social-icon">
          </a>

          <a href="">
            <img src="/img/icon-twitter.svg" alt="" class="footer__social-icon">
          </a>

          <a href="">
            <img src="/img/icon-instagram.svg" alt="" class="footer__social-icon">
          </a>

          <a href="">
            <img src="/img/icon-pinterest.svg" alt="" class="footer__social-icon">
          </a>

          <a href="">
            <img src="/img/icon-youtube.svg" alt="" class="footer__social-icon">
          </a>
        </div>
      </div>
    </div>

    <div class="footer__content">
      <h3 class="footer__title">Address</h3>

      <ul class="footer__links">
        <li><a href="" class="footer__link">About Us</a> </li>
        <li><a href="" class="footer__link">Delivery Information</a> </li>
        <li><a href="" class="footer__link">Privacy Policy</a> </li>
        <li><a href="" class="footer__link">terms & Conditions</a> </li>
        <li><a href="" class="footer__link">Contact Us</a> </li>
        <li><a href="" class="footer__link">Support Center</a> </li>
      </ul>
    </div>

    <div class="footer__content">
      <h3 class="footer__title">My Account</h3>

      <ul class="footer__links">
        <li>
          <a href="/logout" class="footer__link">Logout</a>
        </li>
        <li><a th:href="@{/admin/createmovie}" class="footer__link">Createmovie</a> </li>
        <li><a th:href="@{/admin/billshow}" class="footer__link">Billshow</a> </li>
        <li><a th:href="@{/admin/replace}" class="footer__link">Replace</a> </li>
        <li><a th:href="@{/admin/finish}" class="footer__link">Finish-P</a> </li>
        <li><a th:href="@{/admin/headoff}" class="footer__link">Headoffer</a> </li>
      </ul>
    </div>

    <div class="footer__title">
      <h3 class="footer__title">Secured Payment Gateways</h3>

      <img src="/img/payment-method.png" alt="" class="payment__img">
    </div>
  </div>

  <div class="footer__bottom">
    <p class="copyright">&copy; 2024 E-Store.in. All rights reserved</p>
    <span class="designer">Devlope by DarshanDhaduk</span>
    <!--            <span class="designer">Designed by DarshanDhaduk And SnehDhanani</span>-->
  </div>
</footer>

<!--<!==========SWIPER JS========!>-->

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!--<!==========MAIN JS========!>-->
<script src="/main.js"></script>
</body>
</html>